@import url("fonts.css"); 
@import url("header.css"); 
@import url("all_mobile.css"); 


.center {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.bg-gray {
    background-color: #ebebeb;
}

.label-placeholder {
    position: absolute;
    pointer-events: none;
    padding:0px 10px;
    font-family: "Bryant", sans-serif;
    top: 11px;
    left: 10px;
    overflow: hidden;
    font-size: 17px;
    max-width: 87%;
    height: 19px;
    z-index: 1;
    font-weight: 400;
    transition: 0.2s ease all;
  }

  .form-group.input-group .input-placeholder{
    border-right: none;
}

.form-group.input-group span.input-group-addon {
    background-color: #fff;
    border: 1px solid #29282D;
    border-left: none;
}

.input-placeholder:focus ~ span.input-group-addon {
    border-color: black;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-width: 2px;
}

.form-group {
    position: relative;
}

.input-placeholder {
    border: 1px solid #29282D;
    margin-bottom: 23px;
    border-radius: 3px;
    z-index: 1 !important;
  }

.input-placeholder:focus {
    border-color: black;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-width: 2px;
  }
  
  .input-placeholder:focus ~ .label-placeholder, .input-placeholder:not(:focus):not(.ng-empty):valid ~ .label-placeholder{
      top: -17px;
      font-size: 15px;
      opacity: 1;
      border-bottom: 2px solid #EBEBEB;
  }

.botao1 {
    font-family: "Eurosoft", sans-serif;
    width: 166px;
    height: 43px;
    background: red;
    display: block;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 19px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 4px;
    text-align: initial;
    margin-top: 40px;
    border: none;
}

.botao2 {
    font-family: "Eurosoft", sans-serif;
    width: 111px;
    height: 43px;
    background: red;
    display: block;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 19px;
    color: #fff;
    text-decoration: none;
    position: relative;
    margin-left: 53px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 4px;
    text-align: initial;
    margin-top: 40px;
    border: none;
}

.botao1::after {
    content : '';
    float: right;
    width: 53px;
    height: 100%;
    background: red url('../images/all_icons/icon18.png') center no-repeat;
    border-left: 3px solid #29282D;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 15px;
    -webkit-transition: background-position 0.3s ease;
}

.botao2::before {
    content : '';
    float: right;
    width: 53px;
    height: 100%;
    background: red url('../images/all_icons/icon20.png') center no-repeat;
    border-right: 3px solid #ebebeb;
    position: absolute;
    top: 0;
    left: -53px;
    background-size: 15px;
    -webkit-transition: background-position 0.3s ease;
}

.botao1:hover, .botao1:active {
    color: #ffffff;
    text-decoration: none;
}

.botao2:hover, .botao2:active {
    color: #ffffff;
    text-decoration: none;
}

.botao1:hover::after {
    background-position-x: 90%;
}

.botao2:hover::before {
    background-position-x: 7%;
}

.risk {
    text-decoration: line-through;
}

.bg1 {
    background: #ebebeb url('../images/bg1.png') no-repeat;
    min-height: 89.3vh;
    background-position-x: right;
    background-position-y: top;
}

.title1 {
    font-family: "Bryant", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.title2 {
    font-family: "Eurosoft", sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 6px 0;
    font-style: normal;
    color: #B5ACAC;
}

.title2 span {
    font-weight: 700;
    font-style: italic;
    color: #FFFFFF;
}

.title3 {
    font-family: "Eurosoft", sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    color: #DD0023;
    width: 113px;
    height: 40px;
    transform: rotate(-91deg);
    text-align: center;
    position: relative;
    left: -52px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 33px;
}


.box1 {
   margin-bottom: 20px;
    margin-top: 43px;
}

.box1 .spaced{
    background: #29282D url('../images/bg0.png') top right no-repeat;
    min-height: 240px;
    width: 100%;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.box1 .tarja-red {position: absolute;top: -45px;left: 5px;}

.box2 .spaced{
    background: #29282E url('../images/bg01.png') 100% 100% no-repeat;
    background-size: 47%;
}

.spaced {
    border: 1px solid #fff;
}

.border4px {
    border: 3px solid transparent;
    padding: 28px;
    padding-left: 60px;
    padding-bottom: 36px;
}

.border4px:hover, .active .border4px {
    border-color: #ffffff;
}

.box1:hover, .box2:hover,
.box1.active, .box2.active
{
    border-color: #ffffff;
    box-shadow: 0px 9px 28px -5px black;
} 

.tarja-red {
    background: #dd0023;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
    height: 35px;
    width: 143px;
    font-weight: 600;
    font-family: "Bryant", sans-serif;
    background-position-x: -245px;
    background-position-y: -164px;
    font-size: 15px;
}


.tarja-red::before {
    content:'';
    height: 43px;
    width: 27px;
    position: absolute;
    left: -27px;
    top: 0px;
    float: left;
    background: #dd002300 url('../images/all_icons.png') no-repeat;
    background-position-x: -239px;
    background-position-y: -170px;
}

.tarja-red::after {
    content: '';
    height: 43px;
    width: 27px;
    position: absolute;
    right: -27px;
    top: 0px;
    float: right;
    background: #dd002300 url('../images/all_icons.png') no-repeat;
    background-position-x: -446px;
    background-position-y: -171px;
}


.tarja-red-2 {
    background: #dd0023;
    text-align: center;
    padding-top: 7px;
    margin-bottom: 10px;
    width: 201px;
    padding-bottom: 10px;
    height: 38px;
    font-weight: bold;
    font-family: "Bryant", sans-serif;
    background-position-x: -245px;
    background-position-y: -164px;
    font-size: 18px;
    position: relative;
}

.tarja-red-2::before {
    content:'';
    height: 38px;
    width: 23px;
    position: absolute;
    left: -21px;
    top: 0px;
    float: left;
    background: #dd002300 url('../images/all_icons.png') no-repeat;
    background-position-x: -246px;
    background-position-y: -164px;
}

.tarja-red-2::after {
    content: '';
    height: 39px;
    width: 21px;
    position: absolute;
    right: -20px;
    top: 0px;
    float: right;
    background: #dd002300 url('../images/all_icons.png') no-repeat;
    background-position-x: -448px;
    background-position-y: -165px;
}

.tarja-red-2 .money-de {
    font-weight: 400;
    text-decoration: line-through;
    font-size: 16px;
}

.tarja-red-2 .line {height: 1px;width: 100px;background: #fff;display: block;float: left;position: absolute;left: -19px;bottom: 0;}

.apartir_de {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    font-family: "Bryant", sans-serif;
}



.box1 ul, .box2 ul {
    padding-left: 0;
    list-style: none;
}

.box2 .title2 {
    margin-top: -15px;
    margin-bottom: 15px;
}

ul.list-lines li {margin-top: 5px;font-size: 17px;font-style: italic;font-weight: 600;font-family: "Bryant", sans-serif;color: #fff;}

ul.list-lines li:last-child:after,
ul.list-lines-2 li:last-child:after,
ul.list-lines-3 li:last-child:after{
    display: none;
}

ul.list-lines li:after {
    border-bottom: 2px dotted #fff;
    content: '';
    width: 190px;
    display: block;
    height: 0px;
}

ul.list-lines-2 li:after, ul.list-lines-3 li:after {
    border-bottom: 2px dotted #fff;
    content: '';
    width: 18px;
    display: block;
    height: 0px;
}

ul.list-lines-2 li, ul.list-lines-3 li {margin-top: 5px;font-family: "Bryant", sans-serif;font-size: 18px;font-weight: 400;color: #fff;}

ul.list-lines-2, ul.list-lines-3 {
    margin-top: -20px;
}

.icon1 {
    position: relative;
    width: 28px;
    height: 29px;
    background: url('../images/all_icons.png') no-repeat;
    display: block;
    float: right;
    top: -1px;
    cursor: pointer;
    background-position-x: -2px;
    background-position-y: -14px;
}

.icon1:hover .icon-tooltip, .icon1:active .icon-tooltip{
    display: block;
}
.icon-tooltip {
    position: absolute;
    width: 329px;
    height: 129px;
    background: #EBEBEB;
    color: red;
    top: -51px;
    font-size: 16px;
    padding: 10px;
    left: 43px;
    box-shadow: 0px 9px 28px -5px black;
    z-index: 9999;
    display: none;
}
.icon-tooltip:before {
    content:'';
    width: 16px;
    height: 21px;
    display: block;
    background: url('../images/all_icons.png') no-repeat;
    background-position-x: -130px;
    background-position-y: -75px;
    position: absolute;
    top: 44%;
    left: -15px;
}

.icon-tooltip .image-cicle {
    width: 103px;
    height: 103px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-tooltip .text{
    font-family: "Bryant", sans-serif;
    color: #29282D;
    margin-left: -10px;
    font-weight: 500;
    line-height: 17px;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: inline-flex;
}


