@media only screen and (max-width: 1366px) {
    html .center {
        max-width: 1200px;
    }
    html .box2 .spaced {
        background-size: 56%;
    }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

    html .icon1 {
        float: none;
        display: inline-block;
        top: 11px;
    }

    html .icon-tooltip {top: 42px;left: -269%;}

    html .icon-tooltip:before {
        top: -12px;
        left: 17px;
        transform: rotate(207deg);
    }

    html body .box1 .spaced {
        background-image: none;
    }
    

}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
