@media only screen and (max-width: 1366px) {
    html .bg2 {
        background-position-x: 400px;
    }
    
    html .box1 .spaced, html .box2 .spaced {
        background-size: contain;
        background-position-x: -63px;
    }
    
    html .complementar-item .image-cicle {
        width: 96px;
        height: 96px;
        margin-top: 50%;
    }
    
    html .complementar {
        background-size: 15%;
        background-position-x: 91px;
        background-position-y: 11px;
    }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

    html .resume {
        width: 100%;
    }

    html .complementar-item .image-cicle {
        margin: 25px auto;
    }
    html .complementar-item p {
        max-width: 100%;
    }
    
    html .complementar-item a {
        padding-bottom: 15px;
        display: block;
    }

}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
