@import url("all.css"); 
@import url("confirm_your_plan_mobile.css"); 

.box1 .spaced {
    background: #29282D url('../images/bg18.png') top left no-repeat;
    min-height: 240px;
    width: 100%;
    margin-bottom: 20px;
    color: #FFFFFF;
    background-size: auto;
    background-position-x: -44px;
}
.border4px {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 8px;
    padding-top: 10px;
}

ul.list-lines-2, ul.list-lines-3 {
    margin-top: 0px;
    padding-left: 24px;
    padding-top: 10px;
}

.tarja-red-2 {
    width: 131px;
}
.apartir_de {
    margin-top: 40px;
}

.list-lines {
    margin-top: 33px;
}

.box1 .title2, .box2 .title2 {
    margin-top: 40px;
}

html .box2 .spaced {
    background-color: #525157;
    background-image: url('../images/bg7.png');
}

ul.list-lines-2 li, ul.list-lines-3 li {
    font-size: 15px;
}

html .box1 .tarja-red {
    top: -27px;
    left: 15px;
}

.box2 .tarja-red-2 {background: #29282d;}

.box2 .tarja-red-2:before {
    background-position-x: -484px;
    background-position-y: -164px;
}

.box2 .tarja-red-2:after {
    background-position-x: -676px;
    background-position-y: -165px;
}

.spaced {
    cursor: pointer;
}

.bg2 {
    background: #ebebeb url('../images/bg19.png') no-repeat;
    min-height: 89.3vh;
    background-position-x: right;
    background-position-y: top;
}

.icon2 {
    position: relative;
    width: 32px;
    height: 29px;
    background: url('../images/all_icons.png') no-repeat;
    display: inline-block;
    top: 7px;
    cursor: pointer;
    background-position-x: -34px;
    background-position-y: -16px;
}

.text1 {
    font-weight: 500;
}

.text1 a {
    color: red;
    text-decoration: underline;
}

.icon3 {
    position: relative;
    width: 32px;
    height: 29px;
    background: url('../images/all_icons.png') no-repeat;
    display: inline-block;
    top: 7px;
    cursor: pointer;
    background-position-x: -75px;
    background-position-y: -18px;
}

.title1 .text1 {
    margin-left: 40px;
}

.icon4 {
    position: relative;
    width: 32px;
    height: 29px;
    background: url('../images/all_icons.png') no-repeat;
    display: inline-block;
    top: 7px;
    cursor: pointer;
    background-position-x: -121px;
    background-position-y: -44px;
}

.icon4.selected, .active .icon4 {
    background-position-x: -121px;
    background-position-y: -15px;
}

.box1 .icon4, .box2 .icon4 {
    float: right;
    margin-bottom: -35px;
    margin-right: -14px;
}

.resume {
    background: #29282D;
    border-top: 4px solid #DD0023;
    padding: 20px;
    color: #fff;
    width: 345px;
    font-family: "Bryant", sans-serif;
    font-size: 16px;
    margin: auto;
}

.marginTopResume {
    margin-top: 45px;
}

.title4 {
    font-size: 16px;
    font-weight: bold;
}

.resume ul {
    line-height: normal;
    list-style: none;
    padding: 0;
}

.resume ul li:after {
    border-bottom: 2px dotted #8E8E8E;
    content: '';
    width: 93%;
    display: block;
    height: 0px;
    position: relative;
    top: -5px;
    margin: auto;
    left: -9px;
}

.resume ul li {
    margin-bottom: 10px;
}

.resume ul li span {
    background: #29282d;
    position: relative;
    z-index: 1;
}

.resume ul li .text_format_right span {
    padding-left: 10px;
    padding-right: 15px;
}

.resume ul li .text_format_left span {
    padding-right: 10px;
    padding-left: 14px;
}

.resume .title2 {
    font-size: 37px;
}

.resume .botao1 {
    margin: 18px auto;
}

.resume .more1, .resume .more2 {
    margin-top: 30px;
}

.resume .more3 {
    margin-top: 45px;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 40px;
}

.line_bottom {
    font-size: 16px;
    text-align: right;
}

.resume ul .row > div {
    padding: 0;
    margin: 0;
}

.text_format_right {
    text-align: right;
}

.line_bottom small {
    position: relative;
    background: #29282d;
    height: 18px;
    z-index: 1;
    padding-left: 3px;
}

.text2 {
    font-weight: 400;
}

.complementar {
    margin-top: 40px;
    background: url('../images/all_icons/icon6.png') no-repeat;
    background-position-x: 18px;
    background-position-y: -64px;
    padding-left: 170px;
    margin-left: -170px;
}

.image-cicle {
    width: 103px;
    height: 103px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complementar-item > div {
    background: #fff;
    position: relative;
    font-family: "Bryant", sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    border: 4px solid transparent;
    cursor: pointer;
}

.complementar-item a {
    color: #DD0023;
    text-decoration: underline;
}

.complementar-item .item-bg-black {
    background: #29282d;
    position: absolute;
    right: -4px;
    bottom: -34px;
    padding: 6px 12px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.complementar-item .image-cicle {
    margin-top: 35%;
    width: 110px;
    height: 110px;
}

.complementar-item:hover > div, .complementar-item.active > div {
    border-color: #707070;
    box-shadow: 0px 9px 28px -5px #00000038;
}

.complementar-itens .title4 {
    color: #DD0023;
    text-transform: uppercase;
    font-weight: 600;
}

.complementar-item p {
    font-weight: 500;
    max-width: 90%;
    min-height: 87px;
    overflow: hidden;
}

.icon5 {
    position: relative;
    width: 32px;
    height: 29px;
    background: url('../images/all_icons.png') no-repeat;
    display: inline-block;
    top: 7px;
    cursor: pointer;
    background-position-x: -148px;
    background-position-y: -44px;
}

.active .icon5 {
    background-position-x: -148px;
    background-position-y: -15px;
}


.complementar .icon5 {
    float: right;
    margin-bottom: -26px;
}

.complementar-item > div {
    margin: 15px 0px;
}

.complementar-itens {
    margin-top: 24px;
}