@import url("confirm_your_plan.css"); 
@import url("matricula_mobile.css"); 

.bg3 {
    background: #ebebeb url('../images/bg21.png') no-repeat;
    min-height: 89.3vh;
    background-position-x: right;
    background-position-y: top;
    background-size: contain;
}

.passos ul {
    list-style: none;
    font-size: 20px;
    padding: 0;
}

.passos ul li {
    float: left;
    width: 33.3%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Bryant", sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
}

.passos {
    width: 500px;
    margin: auto;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.passos ul li .li-item {
    display: block;
    float: left;
    padding: 3px;
    border-radius: 50%;
    font-size: 20px;
    height: 43px;
    width: 43px;
    margin-right: 30px;
    margin-left: 28px;
    text-align: center;
    border: 3px solid #29282d8c;
    font-family: "Eurosoft", sans-serif;
    position: relative;
}

.passos .active .li-item {
    background: #29282D;
    color: #fff;
}

.passos .li-item:after {
    width: 20px;
    display: block;
    content: '';
    border-bottom: 2px dotted #29282d;
    position: absolute;
    right: -27px;
    top: 50%;
    margin-top: -1px;
}

.title-form p {
    margin: 0;
    font-family: "Bryant", sans-serif;
}

.title-form {
    padding-left: 66px;
    min-height: 100px;
    padding-top: 28px;
    margin-left: -66px;
}

.style2 .title-form {
    background: url('../images/all_icons/icon10.png') no-repeat;
}

label.checkbox-inline {
    padding: 0;
}

label.checkbox-inline input {
    margin-right: 7px;
}

.style2 .botao1::after {
    border-left: 3px solid #ebebeb;
}

.style2 .botao2::after {
    border-right: 3px solid #ebebeb;
}

.style2 .botao2 {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.style2 .title-form p {
    height: 10px;
}

.style3 .title-form p {
    height: auto;
}

.style3 .title-form {
    background: url('../images/all_icons/icon12.png') no-repeat;
}

.style4 .title-form {
    background: url('../images/all_icons/icon13.png') no-repeat;
    background-size: 64px;
}

.style2 .resume {
    margin-top: -100px;
}

.style2 form a {
    color: red;
    text-decoration: underline;
    font-weight: 600;
}

.style2 form {
    font-family: "Bryant", sans-serif;
    font-size: 17px;
}

.btns-actions {
    margin: auto;
    width: 345px;
}

.bg4 {
    background: #ebebeb url('../images/bg3.png') no-repeat;
    min-height: 89.3vh;
    background-position-x: right;
    background-position-y: top;
    background-size: contain;
}

.bg5 {
    background: #ebebeb url('../images/bg2.png') no-repeat;
    min-height: 89.3vh;
    background-position-x: right;
    background-position-y: top;
    background-size: contain;
}

.box-pagto {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #707070;
    cursor: pointer;
}

.select-pagto .border4px:hover, .select-pagto .active .border4px {
    border-color: #707070;
    box-shadow: 0px 9px 28px -24px black;
}

.select-pagto .box-pagto:hover, .select-pagto .active .box-pagto{
    border-color: transparent;
}

.select-pagto .border4px {padding: 0;border-width: 4px;}

.icon6 {
    background: url('../images/all_icons.png') no-repeat;
    height: 73px;
    width: 90px;
    display: block;
    background-position-x: -307px;
    background-position-y: -10px;
    margin: 8px auto;
}

.icon7 {
    background: url('../images/all_icons.png') no-repeat;
    height: 73px;
    width: 90px;
    display: block;
    background-position-x: -203px;
    background-position-y: -18px;
    margin: 8px auto;
}

.icon8 {
    background: url('../images/all_icons.png') no-repeat;
    height: 56px;
    width: 55px;
    display: block;
    background-position-x: -63px;
    background-position-y: -52px;
    margin: 8px auto;
}

.bg6 {
    background: url('../images/bg6.png') no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-black {
    background: #29282D;
    font-family: "Bryant", sans-serif;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff;
}

.box-black h2 {
    font-size: 35px;
    font-weight: bold;
}

.box-black p {
    margin-bottom: 30px;
}