@media only screen and (max-width: 1366px) {
  
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

   html .passos {
        width: 94%;
    }
    
   html .passos ul li {
        font-size: 9px;
    }
    
    html .passos ul li .li-item {
        font-size: 15px;
        height: 33px;
        width: 33px;
    }
    
    html .passos ul {
        margin-left: -36px;
    }

}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
