@import url("fonts.css"); 
@import url("header.css"); 
@import url("all_mobile.css"); 

.init_grade {
    text-align: center;
    font-weight: 600;
    background: #fff;
    padding: 11px;
}

.init_grade img {
    max-width: 100%;
}

.init_grade .hours_grade,.init_grade .weeks_grade > div  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.init_grade .hours_grade {
    height: 80px;
}

.init_grade .weeks_grade > div  {
    height: 50px !important;
}

.grade_scroll {
    overflow-x: auto;
}

.grade_scroll > div {
    min-width: 895px;
    padding-bottom: 20px;
}

.hours_grade {
    background: #674ea9;
    color: #fff;
    max-width: 112px;
    float: right;
}

.hours_grade:first-child {
    background: #fff;
    height: 53px;
    margin-top: -3px;
    width: 100%;
}

.row.weeks_grade > div {
    background: #8d7cc2;
    color: #fff;
}

.grade_scroll .row > div {
    border: 1px solid #8d7cc2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 179px;
    padding: 8px;
}

.grade_2 .row.weeks_grade > div {
    border-color: #6e9fe6;
    background: #6e9fe6;
}

.grade_2 .col-sm-12.hours_grade {
    background: #4985ed;
}

.grade_2 .hours_grade:first-child {
    background: #fff;
}

.grade_2 .grade_scroll .row > div {
    border-color: #6e9fe6;
}

.grade_3 .row.weeks_grade > div {
    border-color: #f7b16b;
    background: #f7b16b;
}

.grade_3 .col-sm-12.hours_grade {
    background: #e69039;
}

.grade_3 .hours_grade:first-child {
    background: #fff;
}

.grade_3 .grade_scroll .row > div {
    border-color: #f7b16b;
}

.grade_4 .row.weeks_grade > div {
    border-color: #df6665;
    background: #df6665;
}

.grade_4 .col-sm-12.hours_grade {
    background: #cc0001;
}

.grade_4 .hours_grade:first-child {
    background: #fff;
}

.grade_4 .grade_scroll .row > div {
    border-color: #df6665;
}

.box_grade_info {
    background: #9167b1 url(../images/move-bg.png) no-repeat;
    color: #fff;
    font-size: 9px;
    width: 160px;
    padding: 8px 9px;
    height: 62px;
    text-align: left;
    font-weight: 300;
    background-size: contain;
    background-position-x: -4px;
}

.box_grade_info p {
    padding-left: 67px;
    margin: 0px;
}
.box_grade_info p b {
    font-size: 10px;
}
.grade_2 .box_grade_info {
    background: #008cdb url(../images/speed-bg.png) no-repeat;
    background-size: contain;
    background-position-x: -4px;
}
.grade_3 .box_grade_info {
    background: #ed8c0e url(../images/extreme-bg.png) no-repeat;
    background-size: contain;
    background-position-x: 0px;
}
.grade_4 .box_grade_info {
    background: #d92b1f url(../images/intense-bg.png) no-repeat;
    background-size: contain;
    background-position-x: 0px;
}

@media screen and (max-width: 578px) {

    .hours_grade {
        min-width: 100px;
        float: left;
        z-index: 1;
    }
    
    .grade_scroll {
        padding-left: 23px;
    }
}


@media screen and (max-width: 569px) {
    .grade_scroll {
        padding-left: 53px;
    }
}

@media screen and (max-width: 391px) {

    .grade_scroll {
        padding-left: 59px;
    }
}

@media screen and (max-width: 344px) {

    .grade_scroll {
        padding-left: 70px;
    }
}

@media screen and (max-width: 293px) {

    .grade_scroll {
        padding-left: 79px;
    }
}

@media screen and (max-width: 252px) {

    .grade_scroll {
        padding-left: 87px;
    }
}
