@media only screen and (max-width: 1366px) {

}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
