@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft'), url('../fonts/Eurosoft/Eurosoft/Regular.otf') format('opentype');
    src: local('Eurosoft Regular'), url('../fonts/Eurosoft/Eurosoft_Regular.ttf') format('truetype');
    font-style: normal; 
    font-weight: 400;
         
}
@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Semibold Italic'), url('../fonts/Eurosoft/Eurosoft_Semibold_Italic.ttf') format('truetype');
    src: local('Eurosoft Semibold Italic'), url('../fonts/Eurosoft/Eurosoft_Semibold_Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
         
}
@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Semibold'), url('../fonts/Eurosoft/Eurosoft_Semibold.ttf') format('truetype');
    src: local('Eurosoft Semibold'), url('../fonts/Eurosoft/Eurosoft_Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal; 
         
}
@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Italic'), url('../fonts/Eurosoft/Eurosoft_Italic.otf') format('opentype');
    src: local('Eurosoft Italic'), url('../fonts/Eurosoft/Eurosoft_Italic2.ttf') format('truetype');
    src: local('Eurosoft Italic'), url('../fonts/Eurosoft/Eurosoft_Italic.ttf') format('truetype');
    font-style: italic;
    font-style: normal; 
         
}

@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Medium Italic'), url('../fonts/Eurosoft/Eurosoft_Medium_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Medium'), url('../fonts/Eurosoft/Eurosoft_Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Light Italic'), url('../fonts/Eurosoft/Eurosoft_Light_Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Light'), url('../fonts/Eurosoft/Eurosoft_Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Bold Italic'), url('../fonts/Eurosoft/Eurosoft_Bold_Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Eurosoft';
    src: local('Eurosoft Bold'), url('../fonts/Eurosoft/Eurosoft_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal; 
}

/* Bryant Pro */

@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Bold'), url('../fonts/bryantpro-font-family/BryantPro-Bold.otf');
    font-style: normal; 
    font-weight: 700;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Bold Alternate'), url('../fonts/bryantpro-font-family/BryantPro-BoldAlternate.otf');
    font-style: normal; 
    font-weight: 700;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Bold Italic'), url('../fonts/bryantpro-font-family/BryantPro-BoldItalic.otf');
    font-style: italic; 
    font-weight: 700;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Light'), url('../fonts/bryantpro-font-family/BryantPro-Light.otf');
    font-style: normal; 
    font-weight: 300;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Light Alternate'), url('../fonts/bryantpro-font-family/BryantPro-LightAlternate.otf');
    font-style: normal; 
    font-weight: 300;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Light Italic'), url('../fonts/bryantpro-font-family/BryantPro-LightItalic.otf');
    font-style: italic; 
    font-weight: 300;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Medium Alternate'), url('../fonts/bryantpro-font-family/BryantPro-MediumAlternate.otf');
    font-style: normal; 
    font-weight: 500;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Medium Italic'), url('../fonts/bryantpro-font-family/BryantPro-MediumItalic.otf');
    font-style: italic; 
    font-weight: 500;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Regular'), url('../fonts/bryantpro-font-family/BryantPro-Regular.otf');
    font-style: normal; 
    font-weight: 400;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Regular Alternate'), url('../fonts/bryantpro-font-family/BryantPro-RegularAlternate.otf');
    font-style: normal; 
    font-weight: 400;
         
}
@font-face {
    font-family: 'Bryant';
    src: local('Bryant Pro Regular Italic'), url('../fonts/bryantpro-font-family/BryantPro-RegularItalic.otf');
    font-style: italic; 
    font-weight: 400;
         
}
